/data/Kanaleneiland/maps/cache
data/Kanaleneiland/maps/utrecht_province.osm.geojson
/data/Kanaleneiland/_maps/cache
/data/Kanaleneiland/maps/new_POIs
data/Kanaleneiland/maps/smallest_utrecht_province.osm.geojson
/data/Kanaleneiland/maps/new_POIs
